HR_WebAPI/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRS.WebAPI.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRS.WebAPI.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseDtoOfArrayOfJobsOfferDtohqsDdjJ_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HRS.WebAPI.Entities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfJobsOfferDto" Namespace="http://schemas.datacontract.org/2004/07/HRS.WebAPI.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfJobsOfferDto" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDtoOfArrayOfJobsOfferDtohqsDdjJ_P" nillable="true" type="tns:ResponseDtoOfArrayOfJobsOfferDtohqsDdjJ_P" />
  <xs:complexType name="ArrayOfJobsOfferDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobsOfferDto" nillable="true" type="tns:JobsOfferDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobsOfferDto" nillable="true" type="tns:ArrayOfJobsOfferDto" />
  <xs:complexType name="JobsOfferDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmploymentTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Experience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperienceYears" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LevelStudyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Responsabilies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsibleId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobsOfferDto" nillable="true" type="tns:JobsOfferDto" />
</xs:schema>